<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="auth-forms">

    <h2>Log In</h2>

    <form ng-submit="login()">
        <p ng-show="error" class="text-danger">{{ error }}</p>
        <input type="email"    ng-model="user.email"    placeholder="Email"    class="form-control"><br>
        <input type="password" ng-model="user.password" placeholder="password" class="form-control"><br>
        <input type="submit"   value="Register" class="btn btn-primary">
    </form>
</div>

</body>
</html>